@use 'global';
/*
.main__article {
  padding: 2rem 1rem;
}

.main__list {
  padding: 2rem;
}

.article__title {
  padding-top: 2rem;
}

.article__image {
  max-width: 300px;
  width: 100%;
}

.article__text {
  padding-top: 1rem;
}

.article__text h3,
.article__text h4,
.article__text p {
  padding: 0.8rem 0 0.5rem 0;
}*/