@use 'global';

.aside {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  width: 95%;
  margin: 0 auto;
  text-align: center;

  &__text {
    display: flex;
  }


  &__wrapper h2 {
    margin: 0;
    padding-top: 0.5rem;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {

  .aside {
    width: 90%;

  }
}