@use 'global';

.attivita {

  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 3rem auto;
  text-align: center;

  &__text {
    display: flex;
  }


  &__wrapper h2 {
    margin: 0;
    padding-top: 0.5rem;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {

  .attivita {
    width: 90%;

  }
}