@use 'global';

.background-img {
  background-image: url('/images/azienda.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 300px;

}


.background-img--services {
  background-image: url('/images/apicoltura.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 300px;
}

.background-img--services2 {
  background-image: url('/images/vyroba/svarovani2-copy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 300px;
}