@use 'global';


.card {
  display: inline-block;
  max-width: 300px;
  width: 100%;
  margin: 0 auto 3rem auto;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 5px 5px rgb(192, 192, 192);

  figure {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
  }

  figure:hover+span {
    bottom: -36px;
    opacity: 1;
  }

  figure img {
    height: 250px;
    object-fit: cover;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  &__image {
    width: 100%;
  }

  &__name {
    padding: 0;
    margin: 0;
  }

  &__description {
    font-size: 15px;
    padding: 0.5rem;
    justify-content: center;
  }
}