@use 'global';


.clanek {
  display: inline-block;
  padding: 1rem auto;
  max-width: 450px;
  width: 100%;
  margin: 1rem auto;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgb(192, 192, 192);

  &__image {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
  }

  &__description {
    text-align: center;
    font-size: 15px;
    padding: 1rem 0 1.5rem 0;
  }

  &__text {
    padding: 0.5rem;
  }

}