@use 'global';
/*
.kontakt__title {
  padding: 2rem;
  text-align: center;

  .kontakt {
    padding: 0.5rem;
  }

  .contact__form {
    display: flex;
  }
}

.form-wrapper {
  max-height: 100vh;
  background-color: rgb(209, 159, 159);
  max-width: 300px;
  width: 100%;
  align-items: center;
}

.form-head {
  text-align: center;
  padding: 2rem;
}

.name-form,
.email-form {
  display: flex;
  padding: 1rem;
  text-align: left;
}

.text-form {
  display: flex;
  padding: 1rem;
  text-align: center;
}

.from-wrapper label {
  margin: 0rem 3rem;
}

.contact__form button {
  display: flex;
  margin: 1rem 1rem 1rem auto;
  padding: 1rem;
  background-color: global.$c-third;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
}

.contact__map--site {
  display: flex;
  max-height: 80vh;
  margin: 1rem;
}


.contact {
  max-height: 90vh;
  padding: 2rem;
  background-color: rgb(209, 159, 159);
  color: global.$c-primary;

  a {
    color: global.$c-primary;
  }

  &__box {
    padding: 10px;
  }

  &__button {
    margin-top: 1rem;
    display: flex;
  }

  &__facebook {
    margin-right: 1rem;
  }

  &__map {
    display: flex;
  }
}




@media screen and (min-width: 1040px) {

  .kontakt {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-around;
  }

  .contact__address--site {
    padding-top: 6rem;
  }

  .form-wrapper {
    max-width: 100%;
  }

  .contact {
    padding: 2rem auto;
    display: flex;
    justify-content: space-around;

    &__box {
      background: global.$c-transparent;
      padding: 2rem;
    }
  }
}*/