@use 'global';


#logo__address {
  display: flex;
}


.footer__logo {
  width: 7rem;
  margin-right: 1rem;
}

.footer__contact-email,
.footer__contact-phone {
  position: relative;
  margin-left: 30px;
}

.footer__icon {
  margin: 0 4px;
  position: absolute;
  top: 5px;
  left: -30px;
}


.footer__copyright {
  padding: 10px;
  text-align: center;
  background-color: rgb(65, 65, 65);
  color: white;
}