@use 'global';


#logo__address {
  display: flex;
}


.footer__logo {
  width: 7rem;
  margin-right: 1rem;
}


.footer__copyright {
  padding: 10px;
  text-align: center;
  background-color: rgb(65, 65, 65);
  color: white;
}
