@use 'global';

.header__contact {
  padding: 0.5rem 1rem;
  font-size: 14px;
  text-align: right;
  background-color: rgb(65, 65, 65);
  color: white;
}

.header__contact-box {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header__contact-email {
  margin-right: 3rem;
}


.header__contact-email,
.header__contact-phone {
  position: relative;
}

.header__icon {
  margin: 0 4px;
  position: absolute;
  top: 5px;
  left: -30px;
}

.header__title {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-bottom: 1rem;
}

@media screen and (max-width: 352px) {
  .header__contact-email {
    margin-right: 0;
  }
}

.header__contact a {
  color: white;
}

.main-head {
  box-shadow: 0px 10px 10px rgba(78, 78, 78, 0.5);
  z-index: 2;
  position: relative;
  margin: auto;
  background-color: white;

}



.header__logo {
  margin: 0 auto;
  text-align: center;
}

.logo {
  width: 10rem;
  max-width: 100%;
  padding-top: 1rem;
}


@media screen and (max-width: 842px) {

  #logo {
    width: 8rem;
    max-width: 100%;
  }

  
}