@use 'global';

.reference {
  width: 90%;
  margin: 2rem auto;
  text-align: center;
  padding: 2rem;
  list-style: 1.5;
}

.reference h2 {
  margin: 2rem auto;
  text-transform: uppercase;
}

.reference__box {
  width: 90%;
  margin: 2rem auto;

}

.reference ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.reference__box li {
  padding: 2rem 2rem 0 2rem;


}

.ref-img {
  margin-top: 1rem;
}

@media screen and (max-width: 842px) {

  .reference {
    width: 90%;
    padding: 0;
  }

}