<!-- Kontakt -->
<!-- {% if page.fileSlug !== 'kontakt' %} -->

  <div class="contact__map">
   

   <iframe style="border:none" src="https://frame.mapy.cz/s/mukerecato" width="100%" height="400" frameborder="0"></iframe>
  </div>

<section class="contact">

  <div class="contact__address" id="logo__address">
    <a href="/"><img class="footer__logo" id="logo" src="/images/logo.png" alt="logo"></a>
  
    <div class="footer__contact">
      <p class="contact__title">Il Riccio Verde</p>
      <p>Loc. Vigoleni 17</p>
      <p>43047 Pellegrino Parmense</p>
      <p><img class="header__icon" src="/images/telephone.png" alt="telephone" width="20">+39 320 085 1689 / +39 389 609 2387</p>
      <a href="mailto:ilric.verde@gmail.com"><img class="header__icon" src="/images/header-envelope.png" alt="e-mail" width="20" >ilric.verde@gmail.com</a>
    </div>
  </div>

    
  <div class="contact__address">
    
      <div></div>
      <div></div>
  </div>

  <div class="contact__address--menu">
    <ul>
        <li><a href="/">Introduzione</a></li>
        <li><a href="/#about">Chi siamo</a></li>
        <li><a href="/vendita/">Nostre attività</a></li>
        <li><a href="/vendita/">Vendita</a></li>
        <li><a href="/vendita/">Blog</a></li>       
        <li><a href="/vendita/">Galleria</a></li> 
        <li><a href="/#kontakt">Contatto</a></li>
    </ul>
  </div>
</section>

<!--{% endif %}-->


<div class="footer__copyright">
    &copy; 2022 Riccio Verde | All rights reserved. 
</div>