<!-- Kontakt -->
<!-- {% if page.fileSlug !== 'kontakt' %} -->

  <div class="contact__map">
   

   <iframe style="border:none" src="https://frame.mapy.cz/s/mukerecato" width="100%" height="400" frameborder="0"></iframe>
  </div>

<section class="contact">
  <div class="contact__address">
    <ul>
        <li><a href="/">Úvod</a></li>
        <li><a href="/#sluzby">Nabídka služeb</a></li>
        <li><a href="/galerie/">Galerie</a></li>
        <li><a href="/#reference">Reference</a></li>
        <li><a href="/#kontakt">Kontakt</a></li>
    </ul>
  </div>


  <div class="contact__address">
    <p class="contact__title">Fakturační adresa</p>
    <p>Jan Kočka</p>
    <p>IČO: 09670297</p>
    <p>Na Kopci 4188/7, 58601 Jihlava</p>
  </div>

  <div class="contact__address">
    <p class="contact__title">Kontaktní adresa</p>
    <p>Jan Kočka</p>
    <p>Na Bělidle 5833/3a</p>
    <p>58601 Jihlava</p>
  </div>
    
  <div class="contact__address">
    <p class="contact__title">Kontaktní údaje</p>
      <div><img class="header__icon" src="/images/telephone.png" alt="telephone" width="20"> 739 175 831</div>
      <div><a href="mailto:jan-kocka@seznam.cz"><img class="header__icon" src="/images/header-envelope.png" alt="e-mail" width="20" > jan-kocka@seznam.cz</a></div>
  </div>
</section>

<!--{% endif %}-->


<div class="footer__copyright">
    &copy; 2022 Jan Kočka. Všechna práva vyhrazena. All rights reserved. 
</div>