<section class="landing">
  <div class="main-head">
    <div class="header__contact">
      <div class="header__contact-box">
        <div class="header__contact-email">
          <a href="mailto:ilric.verde@gmail.com">
            <img class="header__icon" src="/images/header-envelope.png" alt="e-mail" width="20" >ilric.verde@gmail.com
          </a>
        </div>
        <div class="header__contact-phone">
          <img class="header__icon" src="/images/telephone.png" alt="telephone" width="20">+39 320 085 1689 / +39 389 609 2387
        </div>
      </div>
    </div>
<div class="header__logo">
    <a href="/"><img class="logo" id="logo" src="/images/logo.png" alt="logo"></a>
    <p class="header__title">Riccio Verde</p>
</div>
    <nav class="nav">
          <ul class="nav-links">
            <li class="nav__item"><a href="/" class="nav__link">E-book</a></li>
            <li class="nav__item"><a href="/#about" class="nav__link">Chi siamo</a></li>
            <li class="nav__item" ><a href="/nostre-attivita" class="nav__link">Nostre attività</a></li>
            <li class="nav__item"><a href="/vendita" class="nav__link">Vendita</a></li>
            <li class="nav__item"><a href="/blog" class="nav__link">Blog</a></li>
            <li class="nav__item"><a href="/galerie" class="nav__link">Galleria</a></li>
            <li class="nav__item"><a href="/#kontakt" class="nav__link">Contatto</a></li>
          </ul>
          <div class="burger">
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>
          </div>
        </nav>
  </div>

</section>