<section class="landing">
  <div class="main-head">
    <div class="header__contact">
      <div class="header__contact-box">
        <div class="header__contact-email">
          <a href="mailto:saruska.voko@seznam.cz">
            <img class="header__icon" src="/images/header-envelope.png" alt="e-mail" width="20" >saruska.voko@seznam.cz
          </a>
        </div>
        <div class="header__contact-phone">
          <img class="header__icon" src="/images/telephone.png" alt="telephone" width="20"> +420 739 175 831
        </div>
      </div>
    </div>
<div class="header__logo">
    <a href="/"><img class="logo" id="logo" src="/images/logo.png" alt="logo"></a>
    <p class="header__title">Riccio Verde</p>
</div>
    <nav class="menu">
          <ul class="nav-links">
            <li class="menu__item"><a href="/" class="menu__link">Home</a></li>
            <li class="menu__item"><a href="/#sluzby" class="menu__link">Chi siamo</a></li>
            <li class="menu__item"><a href="/galerie" class="menu__link">Vendita</a></li>
            <li class="menu__item" ><a href="/galerie" class="menu__link">Nabídka</a></li>
            <li class="menu__item"><a href="/#reference" class="menu__link">Blog</a></li>
            <li class="menu__item"><a href="/galerie" class="menu__link">Photos</a></li>
            <li class="menu__item"><a href="/#kontakt" class="menu__link">Contact</a></li>
          </ul>
          <div class="burger">
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>
          </div>
        </nav>
  </div>

</section>