---
layout: layouts/sablona.njk
---
<!--
      <div class="hero">
      <article class="main__article">
        <h1 class="article__title">{{ title }}</h1>

        <p class="article__meta">
          {{ page.date.toLocaleString ('cs-CZ') }}
        </p>

        <div class="article__content">
          <div class="article__text">
            

            {{ content | safe }}

          </div>

          <img
            class="article__image" src="/images/{{ foto }}" alt="{{ alt }}"
          />
        </div>
      </article>
      </div>
    -->
