<!DOCTYPE html>
<html lang="cs">
<head>
 <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Azienda agricola | Riccio Verde"
    />
    <meta name="robots" content="index,follow" />

    <!--OpenGraph meta tag-->

  <meta property="og:title" content="Riccio Verde">
  <meta property="og:description" content="Siamo una piccola azienda agricola vicino a Pellegrino Parmense">
  <meta property="og:type" content="website">
  <meta property="og:image" content="">
  <meta property="og:url" content="https://ricioverde.it">
  <meta property="og:locale" content="it_It">


  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/euphorigenic" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/source-serif-pro" rel="stylesheet">
                 
  <!--Favicon-->
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <link rel="manifest" href="/icons/site.webmanifest">
  <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/icons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/icons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Naše vlastní CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/glide.core.css">
  <link rel="stylesheet" href="/css/glide.theme.css">

</head>

<body>
  
  
   {% include "partials/header.njk" %}


    <main class="main">

      {{ content | safe }}

    </main>

  {% include "partials/footer.njk" %}

  <script src="/app.js"></script>

  <script src="/fslightbox.js"></script>


  <script src="/glide.min.js"></script>
  <script>
    const config = {
      autoplay: 7000,
      hoverpause: false,
      type: 'carousel'
    }
    new Glide('.glide', config).mount()
</script>

<!-- EmailJS -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<script type="text/javascript">
  (function(){
      emailjs.init("_M9aAl7FkVZB9f1Fg");
  })();
</script>


    
</body>
</html>